.wpemp_message {margin:10px auto 20px; padding:10px;width:100%; font: normal 12px/1.3 Arial, Verdana; 
border:2px solid #ccc; border-radius: 6px;-webkit-border-radius: 6px;-moz-border-radius: 6px;}
.wpemp_login_form { margin: 0; padding:0;}
p.wpemp_p, .wpemp_p {margin:0; margin-bottom:5px; padding:0; font:12px/1.3 Arial, Verdana; clear:both; text-align:left;}
p.wpemp_p label { font: bold 12px/1.3 Arial, Verdana;}
.wpemp_small { font: normal 10px/1.3 Arial, Verdana; color:#999; float:right;}
.wpemp_small a {font: normal 10px/1.3 Arial, Verdana; color:#999;}
p.wpemp_pl { margin:0; padding:0; float: left;}
p.wpemp_pr { margin:0; padding:0; float: right; width:80px; text-align:right;}
.wpemp_user, .wpemp_pass {margin: 5px 0 0; padding:0; width: 100%; border:1px solid #666; border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;}
.wpemp_submit { margin:0 0 0 10px; padding:0; }
.wpemp_login_note { font: normal 11px/1.3 Arial, Verdana; color:#ff2323;}
